<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Burrito Boys Rec Centre</title>
    <link rel = "stylesheet" href = 'main.css'>
   
</head>

<body id = 'all'>

    <div id = 'inside'>
        <h1> Welcome to Burrito Boys Rec Centre</h1>
        <h2>Please select a sign in option, or sign up if you're new!</h2>

        
        <div style = "padding-bottom: 2em;">
        <table>
            <tr>
                <td><h2>Members</h2></td>
                <td><h2>Staff</h2></td>
            </tr>
            <tr>
                <td>
                    <form method = 'get' action = '/login'>
                        <input type = "submit" value = 'Login'>
                    </form>
                    <form method = 'get' action = '/register'>
                        <input type = "submit" value = 'Register'>
                    </form>
                </td>
                <td>
                    <form method = 'get' action = '/login-staff'>
                        <input type = "submit" value = 'Login'>
                    </form>
                </td>
            </tr>
        </table>
        </div>

    </div>



</body>
</html>
