<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Manager Portal | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Manager Portal</h1>
        
        <ul>
            <li><a href = '/add-employee'>Add New Employee</a></li>
            <li><a href = '/view-employee'>View Employees</a></li>
            <li><a href = '/assign-employees-shifts'>Assign Employees to Shifts</a></li>
        </ul>
    
        <ul>
            
            <li><a href = '/remove-employee'>Remove Employees</a></li>
            <li><a href = '/payment-details'>Payment Details</a></li>
        </ul>
    
        <ul>
            
            <li><a href = '/view-trends'>View Trends</a></li>
        </ul>

        <ul>
            <li><a href = '/logout'>Logout</a></li>
        </ul>

    </div>
        
       



</body>

</html>