<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>View Employees | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Assign Employees</h1>
        
        <form method = 'post' action = '/assign-employees-shifts'>

            <select name="empNames" id="empName">
                <% staff.forEach(s => { %> 
                    <option value="<%= s.EmployeeID %>"><%= s.StaffName %></option>
                    <% }) %>
            </select>

            <select name="facNames" id="fac">
                <% fac.forEach(f => { %> 
                <option value="<%= f.FacName %>"><%= f.FacName %></option>
                <% }) %>
               
            </select>

            <br>
            <label for='startTime'>Pick a Start Date and Time</label>
            <input id = 'startTime' type = 'datetime-local' name = 'startdt' value='2020-01-01T01:23:00'>
            <br>
            <label for='endTime'>Pick an End Date and Time</label>
            <input id = 'endTime' type = 'datetime-local' name = 'enddt' value='2020-01-01T01:23:00'>
            <br>
            <input type = 'submit' name = 'assignEmp' value = 'Assign Employee'>
        </form>
        <a href = '/manager'>Back to Portal</a>
    </div>
        
       



</body>

</html>