<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Potential Savings | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Your Other Options</h1>
        <br>
        
        <p>With Membership 1 you pay $<%= total1 %>.</p>
        <p>With Membership 2 you pay $<%= total2 %>.</p>
        <p>With Membership 3 you pay $<%= total3 %>.</p>

        <br>
        <a href = '/portal'>Back to Portal</a>
    </div>
        
       



</body>

</html>