<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Account Info | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>ARE YOU <b>SURE</b> YOU WANT TO DELETE YOUR ACCOUNT?</h1>
        
        <form method = 'post' action = '/member.delete'>
            
            <input type = 'submit' name = 'delAcc' value="Delete My Account">
        </form>
        <a href = '/portal'>Back to Portal</a>
    </div>
        
       



</body>

</html>