<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Potential Savings | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
       <h1>Registration Successful!</h1>>
       <a href = 'm-login'>Sign In</a>
    </div>
        
       



</body>

</html>