<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Member Portal | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Member Portal</h1>
        
        <ul>
            <li><a href = '/create-reservation'>Create New Reservation</a></li>
            <li><a href = '/view-reservation'>View Reservations</a></li>
            <li><a href = '/cancel-reservation'>Cancel Upcoming Reservation</a></li>
            <li><a href = '/weekly-recap'>Last Weeks Recap</a></li>
        </ul>
    
        <ul>
            <li><a href = '/add-friend'>Add Friend</a></li>
            <li><a href = '/view-friends'>View Friend List</a></li>
            
        </ul>

        <ul>
            <li><a href = '/member-account-info'>View Account Info</a></li>
        </ul>
        <ul>
            <li><a href = '/logout'>Logout</a></li>
        </ul>

    </div>
        
       



</body>

</html>