<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Staff Shifts | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Your Shifts</h1>
        
        <table>
            <tr>
                <th>Facility</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            <tr>
                <td>SQL Data goes in here.</td>
            </tr>
        </table>

    </div>
        
       



</body>

</html>