<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>Friends | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Add Friend</h1>
        <br>
        
        

        <form method = 'post' action = '/friend-added'>
            <label for='addedFriend'>Friend's Name</label>
            <input type = 'text' name = 'name' id = 'addedFriend'>
            <input type = 'submit' value = 'Add Friend'>
        </form>

    </div>
        
       



</body>

</html>