<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = 'main.css'>
    <title>New Reservation | Burrito Boys Rec Centre</title>
</head>


<body id = 'all'>

    <div id = 'inside'>
        <h1>Cancel a Reservation</h1>
        <br>
        
        <form method = 'post' action = 'cancel-reservation'>
            <select name="facName" id="facs">
                <% reservations.forEach(reservation => { %>
                    <option value="<%= reservation.FacName %>"><%= reservation.FacName %></option>
                <% }) %>
            </select>
            <br>
            
            <input type="submit" value="Cancel Reservation">
        </form>

    </div>
        
       



</body>

</html>